<%= render 'shared/errors', obj: @agent %>
<div class="row">
  <div class="col-xs-12">
    <%= form_for(@agent, :html => { class: "form-horizontal", role: "form" }) do |a| %>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= a.label :name %>
          </div>
          <div class="col-sm-8">
            <%= a.text_field :name, class: "form-control", placeholder: "name of agent", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= a.label :state, "State or Territory" %>
          </div>
          <div class="col-sm-8">
            <%= a.select :state, options_for_select(Ausburbs.states.collect { |state|
              [state.name, state.name] }, 1), {}, { id: 'state_select' } %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= a.label :suburb %>
          </div>
          <div class="col-sm-8">
            <%= a.select :suburb, grouped_options_for_select(
                Ausburbs.states.collect { |state| [state.name, sort_suburbs(
                    remove_duplicates_from_suburbs (Ausburbs.state(state.name).suburbs.collect { |suburb| [suburb.name] }))] }) %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= a.submit class: 'btn btn-primary' %>
          </div>
        </div>
    <% end %>

    <div class="col-xs-4 col-xs-offset-4">
      [ <%= link_to "Cancel request and return to agents listing", agents_path %> ]
    </div>

  </div>
</div>

<script>
    $(function () {
        filterSuburbsList();
    });
</script>