<h1>Edit existing agent</h1>

<% if @agent.errors.any? %>
    <h2>The following errors prevented the agent from being created</h2>
    <ul>
      <% @agent.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>
<%= form_for @agent do |a| %>
    <p>
      <%= a.label :name %><br/>
      <%= a.text_field :name %>
    </p>
    <p>
      <%= a.label :suburb %><br/>
      <%= a.text_field :suburb %>
    </p>
    <p>
      <%= a.submit %>
    </p>
<% end %>

<%= link_to "Back to agents listing", agents_path %>