<h1 align="center">Listing all agents</h1>
<div align="center">
  <%= will_paginate renderer: BootstrapPagination::Rails %>
</div>
<% @agents.each do |agent| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
          <div class="agent-name">
            <%= link_to agent.name, agent_path(agent) %>
          </div>
          <div class="agent-suburb">
            <%= agent.suburb %>
          </div>
          <% if logged_in? %>
              <div>
                <%= link_to "Rate this agent", new_agent_rating_path(agent), class: "btn btn-xs btn-info" %>
                <% if current_user == agent.user || current_user.admin? %>

                    <%= link_to "Edit this agent", edit_agent_path(agent), class: "btn btn-xs btn-primary" %>
                    <%= link_to "Delete this agent", agent_path(agent), method: :delete,
                                data: {confirm: "Are you sure you want to delete the selected agent"},
                                class: "btn btn-xs btn-danger" %>


                <% end %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
<div align="center">
  <%= will_paginate renderer: BootstrapPagination::Rails %>
</div>

