<div class="container" id="new">
  <% if @params %>
      <div class="well" id="agents">
        <div class="row">
          <div class="col-sm-6">
            <p align="center" class="search-term">You searched for:</p>
          </div>
          <div class="col-sm-6">
            <ul>
              <% if !params[:by_name].blank? %>
                  <li>Agent name '<%= "#{params[:by_name]}" %>'</li>
              <% end %>
              <% if !params[:by_suburb].blank? %>
                  <li>Suburb '<%= "#{params[:by_suburb]}" %>'</li>
              <% end %>
              <% if !params[:by_state].blank? %>
                  <li>State '<%= "#{params[:by_state]}" %>'</li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <hr>
  <% end %>
  <div class="well" id="agents">
    <% if @agents.size == 0 %>
        <p align="center" class="search-term">No agents were found</p>
    <% else %>
        <div align="center" style="padding-top: 0">
          <%= will_paginate renderer: BootstrapPagination::Rails %>
        </div>
        <div align="center">
          <div class="row" id="agent">
            <div class="<%= logged_in? ? "col-sm-3" : "col-sm-4" %>">
              <label class="table-header"><%= sortable 'name' %></label></div>
            <div class="<%= logged_in? ? "col-sm-3" : "col-sm-4" %>">
              <label class="table-header"><%= sortable 'suburb' %></label></div>
            <div class="<%= logged_in? ? "col-sm-3" : "col-sm-4" %>">
              <label class="table-header"><%= sortable 'average_rating','Average Rating'  %></label></div>
            <%= render 'agent', obj: @agents %>
          </div>
        </div>
        <div align="center">
          <%= will_paginate renderer: BootstrapPagination::Rails %>
        </div>
    <% end %>
  </div>
</div>