<div class="container" id="navbar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag('logo_test.png', size: "86x100"), root_path, class: "navbar-brand", id: "logo" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if (current_page?(agents_path) || current_page?(new_agent_path)) %> dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agents
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li id="dropdown"><%= link_to "View all agents", agents_path %></li>
              <li role="separator" class="divider"></li>
              <li id="dropdown"><%= link_to "Find an agent", find_path %></li>
              <li role="separator" class="divider"></li>
              <li id="dropdown"><%= link_to "Add an agent", new_agent_path %></li>
            </ul>
          </li>
          <li class="<%= 'active' if current_page?(ratings_path) %>"><%= link_to "Ratings", ratings_path, class: 'menu-items' %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
              <% if current_user.admin? %>
                  <li><%= link_to "Users", users_path %></li>
              <% end %>
              <li><%= link_to 'Log out', logout_path, method: :delete %></li>
              <li class="<%= 'active' if (current_page?(user_path(current_user)) || current_page?(edit_user_path(current_user))) %> dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= "#{current_user.username}" %> <%= "(Admin)" if current_user.admin? %>
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li id="dropdown"><%= link_to "Edit your profile", edit_user_path(current_user) %></li>
                  <li role="separator" class="divider"></li>
                  <li id="dropdown"><%= link_to "View your profile", user_path(current_user) %></li>
                </ul>
              </li>
          <% else %>
              <li><%= link_to 'Log in', login_path %></li>
              <li><%= link_to 'Sign up', signup_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>